<nav class="navbar navbar-expand-lg navbar-light bg-light">
<a class="navbar-brand" href="#">MyMemories</a>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
</button>
<div class="collapse navbar-collapse" id="navbarNav">
  <ul class="navbar-nav">
    <li class="nav-item active">
      <a class="nav-link" href="/">Home<span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/users">Users</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/images/new">New Images</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/users/<%= @user.id %>/edit">Edit</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/users/<%= @user.id %>/delete">Delete</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/sessions/logout">Log Out</a>
    </li>
  </ul>
</div>
</nav>
 
 Welcome, <%= @user.username %>
   
    <ul>
      <% @user.images.each do |image| %>
      <li><a href="/images/<%= image.id %>" style="color: #ffffff"><img src="/<%= image.url %>" class="img-fluid img-thumbnail" style="width: 200px;"/></a></li>
      <% end %>
   </ul>


<!--
  <p id="demo"></p>
  <script>
  function myFunction() {
    var x = document.getElementById("myText").value;
    document.getElementById("demo").innerHTML = x;
  }
  </script>

  
  <button type="button" onclick="myFunction()" class="btn btn-success">Display</button>
  <br>
-->


